:root {
  /* https://coolors.co/333232-f7b2ad-ceb7b3-b7b7b7-9abca7 */
  --pallet-black: #333232;
  --pallet-pink: #f7b2ad;
  --pallet-tan: #ceb7b3;
  --pallet-silver: #b7b7b7;
  --pallet-green: #9abca7;
  --white-text: white;
  --black-text: black;
}

@font-face {
  font-family: "Oxygen";
  src: url(./oxygen-regular-webfont.woff2) format("woff2"),
    url("./oxygen-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 16px;
  font-family: "Oxygen", Tahoma, Verdana, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  display: flex;
  background-color: var(--pallet-black);

  color: var(--white-text);
}
.large-font {
  font-size: 2.5rem;
  font-weight: bold;
}
.medium-font {
  font-size: 1.8rem;
  font-weight: bold;
}
.logo {
  height: 50px;
  width: 50px;
  background: url("./circle-logo.svg");
}
.logo-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  gap: 15px;
}
.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(188deg)
    brightness(102%) contrast(103%);
}
.main-wrapper {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  height: 100%;
}
main {
  height: 100%;
}
.sidebar {
  border: 1px solid black;
  height: 100%;
}
.main-content {
  border: 1px solid black;
  height: 100%;
}
.current-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.list-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 30px;
}
.nav-flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.project-wrapper {
  text-align: center;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
.calender-icon {
  height: 40px;
  width: 40px;
}
.list-item-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  white-space: nowrap;
}
#hourglass {
  height: 40px;
  width: 40px;
}
.move-right {
  margin-right: 20px;
}
.stopwatch {
  height: 40px;
  width: 40px;
}
.folder-icon {
  height: 40px;
  width: 40px;
}
.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}
.add-button {
  height: 50px;
  width: 230px;
  font-size: 1.4rem;
  justify-self: end;
  align-self: center;
  margin-right: 200px;
  background-color: var(--pallet-silver);
  color: var(--black-text);
  border-radius: 15px;
}
.task-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 113%;
  margin-left: 200px;
  border-bottom: 1px solid var(--black-text);
}
.task-title {
  justify-self: end;
}
.dot-white {
  width: 20px;
  height: 20px;
  background-color: var(--white-text);
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
}
.dot-black {
  width: 20px;
  height: 20px;
  background-color: var(--black-text);
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
}

.task-wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
}
.card {
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;
    width: 60%;
    height: 40px;
    border-radius: 10px;
}
#add-holder {
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;
    width: 60%;
    height: 100px;
    border-radius: 10px;
}
