:root {
  /* https://coolors.co/333232-f7b2ad-ceb7b3-b7b7b7-9abca7 */
  --pallet-black: #333232;
  --pallet-pink: #f7b2ad;
  --pallet-tan: #ceb7b3;
  --pallet-silver: #b7b7b7;
  --pallet-green: #9abca7;
  --white-text: white;
}

@font-face {
  font-family: "Oxygen";
  src: url(./oxygen-regular-webfont.woff2) format("woff2"),
    url("./oxygen-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 16px;
  font-family: "Oxygen", Tahoma, Verdana, sans-serif;
}

.header {
  display: flex;
  background-color: var(--pallet-black);
  font-size: 20px;
  font-weight: bold;
  color: var(--white-text);
}
.header-title {

}
.logo {
  height: 50px;
  width: 50px;
  background: url("./circle-logo.svg");
}
.logo-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  gap: 15px;
}
.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(188deg) brightness(102%) contrast(103%);
}
